// section story
.story {
    background: url('../images/main_bg.jpg') repeat;
    width: 100%;
    top: -60px;
    position: relative;
    padding-top: 50px;

    .titres_story {
        font-family: $courgette;

        img {
            width: 100%;
        }

        .s_special {

            font-size: 2.5rem;
            color: $danger;

        }
    }

    .img_b {
        img {


            margin-top: -30px;
        }
    }
.tabs {
    margin-top: 50px;
}
    .nav-pills {

        .nav-link {
            background-color: white !important;

            font-family: $courgette;


            h5 {
                color: black !important;
            }

            i {
                color: #cccccc;
            }

        }
        .active{
           
               border-right: solid 4px $danger;
               border-bottom: solid 1px #cccccc;

           
            i {
                color: $danger;
            }
            

           
        }
    }
    // conten menu
    .menu {
    
        img {
            border-radius: 50px;
            border: solid 3px #cccccc;
        }
        .all_contenu {
            border-bottom: solid 1px #cccccc;
            
        }
        .prix {
            background-color: #cccccc;
            color: $danger;
        }
    }

}

@include media-breakpoint-down(md) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 0;
    }

}

@include media-breakpoint-up(lg) {
    .story {


        // center menu responsive
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }

}