.s_special {

    font-size: 2.5rem;
    color: $danger;
    font-family: $courgette;
    text-transform: uppercase;

}

.story {
    background: url('../images/main_bg.jpg') repeat;
    width: 100%;
    top: -60px;
    position: relative;
    padding-top: 50px;

    .titres_story {
        font-family: $courgette;

        img {
            width: 100%;
        }

    }

    .img_b {
        img {


            // margin-top: -30px;
        }
    }

    .tabs {
        margin-top: 50px;

        p {
            font-size: 13px;
        }

        .all_contenu {}
    }

    .nav-pills {

        .nav-link {
            background-color: white !important;

            font-family: $courgette;


            h5 {
                color: black !important;
            }

            i {
                color: #cccccc;
            }

            .all_contenu {


                p {
                    font-size: 13px !important;

                }
            }
        }

        .active {

            border-right: solid 4px $danger;
            border-bottom: solid 1px #cccccc;


            i {
                color: $danger;
            }



        }

    }

    // conten menu
    .menu {

        img {
            border-radius: 50px;
            border: solid 3px #cccccc;
        }

        .all_contenu {
            border-bottom: solid 1px #cccccc;

        }

        .prix {
            background-color: #cccccc;
            color: $danger;
        }
    }

}

// section ourchef
.Ourchef {
    background: url(../images/team_background.jpg) center no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: -60px;
    background-size: 800%;
    background-position-y: 35%;
    background-position-x: 48%;
    position: relative;

    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .titres_story {
        font-family: $courgette;
        z-index: 10;
        position: relative;

        h3 {
            color: white;
        }


    }

    .perso {
        text-align: center;
        z-index: 10;
        position: relative;

        p {
            color: white !important;
        }

        img {
            border-bottom: solid 1px #cccccc;
            
        }
    }
}

@include media-breakpoint-down(md) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 0;
    }


    .tabs {

        p {}

        .all_contenu {
            [class*="col-"] {
                padding-bottom: 0;
            }
        }
    }

}

@include media-breakpoint-up(md) {

    .tabs {

        p {}

        .all_contenu {
            [class*="col-"] {
                padding-bottom: 15px;
            }
        }
    }


}

@include media-breakpoint-up(lg) {
    .story {


        // center menu responsive
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }


}